@{
    ViewData["Title"] = "Home Page";
}
<form name="form" action="/uploadfile" enctype="multipart/form-data" method="post">
   <input id="files" type="file" multiple onchange=" fileupload('files');"/>

</form>
<script src="~/js/myfile.js"></script>
